body {
    background-color:#FFF;
    color:#3C2A21;
    
}

nav{
    /* text-align:center; */
    color: #7d83ff;
    font-size: 1.5rem;
}

.navBox{
    display: flex;
    flex-direction: row; 
    flex-wrap:nowrap;
    /* flex-basis: 100px; */
    justify-content:space-evenly;
}

h1 {
    font-family: 'BioRhyme', serif;
    text-align:center;
    /* font-size:75px; */
    font-weight: bolder;
    color:#38686B;
    font-size: 4rem;
}

h2,
h3,
h4,
h5,
h6{
    font-family: 'Junge', serif;
}


p,
ul {
    /* text-align:left; */
    font-family: 'Junge', sans-serif;
    /* font-weight:bold; */
    font-size: 1rem;
}

a{
    color:#7d83ff;
}

a:visited {
    color:#7d83ff;
}

img {
    height: 30px;
}