*{
    background-color:#F6E6DC;
    color: #220901;;
    font-family: 'BioRhyme', serif;
}

a:visited {
    color:#BC3908;
}

a:hover {
    background-color:#941B0C;
    color: #F6E6DC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:#941B0C;
}

h1 {
    text-shadow:
      1px 1px 1px #202020,
      2px 2px 1px #202020;
    font-size: 4rem;
    box-sizing: border-box;
    padding: 40px;
    width: 100vw;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    box-sizing: border-box;
    padding: 30px;
    font-size: calc(100% + .5vw);
    /* margin-right: auto; */

}

.center{
    text-align:center;
}

.end{
    font-size: 3rem;
}

/* 
@media screen and (max-width: 600px) {
    body {
        color: blue;
    }
} */

/* div {
    height: 100vh;
    }

@media (min-width: 601px) {
    div {
        height: 50vh;
        background-color:olive;
    }
} */
