body {
    background-color:rgb(240, 233, 233);
    color:#000;
    
}

nav{
    text-align:center;
    color: #AFFC41;
}


h1 {
    font-family: 'BioRhyme', serif;
    text-align:center;
    /* font-size:75px; */
    font-weight: bolder;
    color:#DB5461;
}

h2,
h3,
h4,
h5,
h6{
    font-family: 'Junge', serif;
}


p {
    text-align:left;
    font-family: 'Lato', sans-serif;
}

a{
    color:#AFFC41;
}

a:visited {
    color:#0A8754;
}

img {
    height: 30px;
}